# Copy this file to .env on the EC2 instance and fill in real values.
# Never commit the actual .env file to GitHub.

JENKINS_URL=http://localhost:8081/
JENKINS_USER=umra
JENKINS_API_TOKEN=1178d7680c473217af4e83fece446d759a
AWS_REGION=ap-south-1
DYNAMODB_TABLE=cicd_builds
